header {
    width: 100%;
    padding: 1%;
    position: -webkit-sticky;
    position:sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
#headerDesktop {
    display: none;
}
#headerMobile {
    width: 100%;
    height: unset;
    overflow: hidden;
    position: relative;
}
#mobilLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 0px;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    overflow: hidden;
}
#mobilLinks > a {
    padding: 20px !important;
}
#headerMobile a img {
    width: 100%;
}
#headerMobile a {
    color: black;
    padding : 1%;
    text-decoration: none;
    font-size: 1em;
    display: block;
    width: 30vw;
}
#hambIcon img {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
}
#menuMobile {
    padding: 10px 10px 0 0; /*Décolage de l'hamburger du haut/droite*/
}